.body {
    color: rgb(63, 71, 141);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.butterfly {
    color: rgb(141, 63, 63);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

h4 {
    color: black;
    font-family: cursive;
    font-size: larger;
}

.panda {
    color: rgb(63, 141, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

h5 {
    color: black;
    font-family: cursive;
    font-size: larger;
}